.carImage > img {
    max-height: 50vh;
    object-fit:contain;
}
.carImage > video{
    object-fit: contain;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.carImage{
    height: 100%;
}
.thumb img{
    height: 100%;
    max-height: 7vh;
    min-height: 7vh;
}
.carousel-slider *{
    max-height: 30vh;
    color: #ffcc35;
}
.carousel-slider img{
    max-height: 30vh;
}
.carousel-slider > video{
    max-height: 30vh;
}
.slider-wrapper{
    border: inset 3px rgb(146, 140, 140);
    background-color: rgba(214, 193, 164, 0.849);
  }
  .btn{
    position: absolute;
    left: 2rem;
    top: .5rem;
    z-index: 10;
    color: #ffcc35;
  }